<div id="control-date">
  Start Date: <input type="date" name="startDate" value="<%= @first_trip.departing_date.strftime("%Y-%m-%d") %>"> |
  End Date:  <input type="date" name="endDate" value="<%= @last_trip.departing_date.strftime("%Y-%m-%d") %>">
</div>
