<p id="notice"><%= notice %></p>

<h1>Trips by Day</h1>

<input type="checkbox" id="weekendcheck">Highlight Weekends</input>
<div id="row2" class="chart"></div>

<%= javascript_include_tag "daytrips", "data-turbolinks-track" => true %>
