<p id="notice"><%= notice %></p>
<%# render 'layouts/datepicker' %>
<%= render 'layouts/nav' %>

<div id="main-content" class="panel panel-default">
  <div class="panel-body">
    <h1>Bay Area Bike Share Data</h1>

    Landing Page
  </div>
</div>
