<p id="notice"><%= notice %></p>
<%# render 'layouts/datepicker' %>
<%= render 'layouts/nav' %>


<div id="main-content" class="panel panel-default">
  <div class="panel-body">
    <%# render 'layouts/cities' %>
    <div id="pies"></div>
  </div>
</div>

<%= javascript_include_tag params[:controller], "data-turbolinks-track" => true %>
